body {
}
h1 {
    text-align:center;
}
#TextArea1 {
    width: 200px;
    height: 54px;
}

#txtDescripcion {
    width: 222px;
    height: 27px;
}

.GridViewProductos {
    border: 1px solid #000000;
}